In [1]:
import pandas as pd

In [18]:
df1 = pd.read_excel("/home/mglee/VSCODE/git/ISDS/region/(수정)(안전영역)기초_50만명이상시_순위.xlsx")
df2 = pd.read_excel("/home/mglee/VSCODE/git/ISDS/region/(수정)(안전영역)기초_50만명미만시_순위.xlsx")
df3 = pd.read_excel("/home/mglee/VSCODE/git/ISDS/region/(수정)(안전영역)기초_농어촌_순위.xlsx")
df4 = pd.read_excel("/home/mglee/VSCODE/git/ISDS/region/(수정)(안전영역)기초_자치구_순위.xlsx")

In [8]:
def Get_key(df):
    df['key'] = df['광역'] + df['기초']
    df = df[['순위', 'key']]
    return df

In [19]:
over50 = Get_key(df1)
under50 = Get_key(df2)
nong = Get_key(df3)
ja = Get_key(df4)

In [44]:
under50

    순위     key
0    1   충남계룡시
1    2   경기의왕시
2    3   경기군포시
3    4   경기과천시
4    5   경기김포시
5    6   경기하남시
6    7   경남진주시
7    8   경기광명시
8    9   경기구리시
9   10   경기파주시
10  11   경남양산시
11  12   경남거제시
12  13   경북구미시
13  14   경기시흥시
14  15   전남광양시
15  16   경기오산시
16  17   충남아산시
17  18   경기광주시
18  19   경북경산시
19  20   전남순천시
20  21   전북익산시
21  22  경기의정부시
22  23   전북군산시
23  24   경기이천시
24  25   충남서산시
25  26   전남여수시
26  27   강원원주시
27  28   경북영주시
28  29   전북남원시
29  30   경기양주시
30  31   경북김천시
31  32   경남통영시
32  33   경북경주시
33  34   강원춘천시
34  35   충북충주시
35  36   경북안동시
36  37   경기여주시
37  38   경북문경시
38  39   충남논산시
39  40   강원삼척시
40  41   충남당진시
41  42   강원태백시
42  43   강원강릉시
43  44   경남사천시
44  45   강원동해시
45  46   경남밀양시
46  47   충북제천시
47  48   충남보령시
48  49   전남나주시
49  50   경기안성시
50  51  경기동두천시
51  52   경북상주시
52  53   전남목포시
53  54   충남공주시
54  55   전북정읍시
55  56   경기포천시
56  57   경북영천시
57  58   강원속초시
58  59   전북김제시

In [28]:
df = pd.read_excel("/home/mglee/VSCODE/git/ISDS/region/SNU_city.xlsx")
df['key'] = df['Unnamed: 0.1'] + df['dist']

In [39]:
temp = pd.merge(ja ,df, how = 'left', left_on = 'key', right_on = 'key')
temp

,순위,key,Unnamed: 0,Unnamed: 0.1,dist,type,보건_영역평균,복지_영역평균,교육_영역평균,문화_영역평균,...,교육2 표준화값,교육3 표준화값,교육4 표준화값,교육5 표준화값,문화1 표준화값,문화2 표준화값,문화3 표준화값,문화4 표준화값,문화5 표준화값,문화6 표준화값
0,1,인천연수구,NaN,인천,연수구,시군구,6.022234,5.468820,6.526763,5.258071,...,5.908010,6.896438,7.210207,NaN,NaN,NaN,5.328221,NaN,NaN,5.201856
1,2,울산북구,NaN,울산,북구,시군구,5.704429,6.001657,6.673754,7.644875,...,5.882839,6.193727,6.994352,NaN,NaN,NaN,5.400208,NaN,NaN,6.033793
2,3,서울양천구,NaN,서울,양천구,시군구,6.797443,5.486214,6.181157,5.143113,...,5.722381,6.226963,7.114011,NaN,NaN,NaN,5.143113,NaN,NaN,NaN
3,4,서울은평구,NaN,서울,은평구,시군구,5.855559,5.125537,5.914689,5.215099,...,5.662392,6.003804,6.703419,NaN,NaN,NaN,5.215099,NaN,NaN,NaN
4,5,인천계양구,NaN,인천,계양구,시군구,5.580060,5.652209,6.206202,5.148148,...,5.878633,6.293435,6.611916,NaN,NaN,NaN,5.112261,NaN,NaN,5.374699
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,65,부산강서구,NaN,부산,강서구,시군구,6.044403,5.882748,6.313632,5.167733,...,6.066261,6.312428,7.092895,NaN,NaN,NaN,5.194532,NaN,NaN,5.038284
65,66,대구서구,NaN,대구,서구,시군구,6.011164,5.463921,5.882173,6.743808,...,5.958831,5.391306,6.245903,NaN,NaN,NaN,5.348789,NaN,NaN,6.097678
66,67,부산동구,NaN,부산,동구,시군구,5.718079,5.218016,6.344203,5.811562,...,5.849841,5.583602,6.337406,NaN,NaN,NaN,5.811562,NaN,NaN,5.691629
67,68,서울중구,NaN,서울,중구,시군구,6.897709,5.365084,6.409564,6.263367,...,5.877146,7.252541,6.206017,NaN,NaN,NaN,6.911931,NaN,NaN,5.614803
68,69,서울종로구,NaN,서울,종로구,시군구,7.073131,5.392920,6.412981,7.294482,...,5.972385,7.031757,6.398408,NaN,NaN,NaN,9.225792,NaN,NaN,5.363173

In [40]:
temp.to_excel("/home/mglee/VSCODE/git/ISDS/region/ja.xlsx")